<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>
<p>Preparation time: <%= @recipe.preparation_time %> minutes</p>
<p>Servings yielded: <%= @recipe.servings_yielded %></p>
  <p><%= @recipe.likes %> Likes</p>
  (<%= link_to 'Like This', like_recipe_path(@recipe), method: :patch %>)

<h2>Ingredients</h2>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
      <li>
        <%= ingredient.amount %> <%= ingredient.unit %> <%= ingredient.name %>
        <small>
          <%= link_to 'remove', recipe_ingredient_path(@recipe, ingredient), method: :delete %>
          <%= link_to 'edit', edit_recipe_ingredient_path(@recipe, ingredient) %>
        </small>
      </li>
  <% end %>
</ul>

<%= link_to 'Add new ingredient', new_recipe_ingredient_path(@recipe) %>
<%= link_to 'Go Back Home', recipes_path(@recipes) %>
